<footer>
  <div class="footer-left">
    <h3>The Global Journal</h3>
    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      <a href="#">Business</a>
      <a href="#">Tech</a>
      <a href="#">Sports</a>
      <a href="#">Entertainment</a>
      <a href="#">Opinions</a>
    </p>
    <p class="footer-app-name">The Global Journal © 2023</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>1437 Fort Street</span> Seattle, Washington</p>
    </div>

    <div>
      <i class="fa-solid fa-phone"></i>
      <p>+1 253-742-7774</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">contact@tgj.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-mission">
      <span>Our Mission</span>
      To deliver accurate and unbiased news coverage that informs and empowers our readers. We strive to provide a comprehensive perspective on global events, enabling our audience to make well-informed decisions.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>
